/** @format */

.about-left {
  padding: 50px 40px;
}

.about-left .social-icon .anticon-github {
  color: #000;
}

.about-left .site-social-icons {
  text-align: left;
}

.about-left div.ant-typography {
  font-size: 16px;
  color: #2c3e50;
}
