/** @format */

.author-div {
  text-align: center;
  padding: 1rem;
}
.author-div div {
  margin-bottom: 1rem;
}
.author-introduction {
  font-size: 0.8rem;
  color: #999;
}
.account {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
