/** @format */

.author-div {
  text-align: center;
  padding: 1rem;
}

.author-div > div {
  margin-bottom: 1rem;
}

.author-introduction {
  font-size: 0.8rem;
  color: #999;
}

.author-name {
  font-weight: 600;
  font-size: 1.5rem;
  color: #4c4948;
  margin-bottom: 0;
}

.author-detail {
  color: #4c4948;
  margin-bottom: 0;
}

.author-info-data {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-top: 16px;
}

.author-info-item {
  display: table-cell;
  text-align: center;
}

.headline {
  color: #4c4948;
  font-size: 0.95rem;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.length-num {
  color: #000;
  font-size: 1.3rem;
}

.account {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
