/** @format */
.clearfix:after {
  /*伪元素是行内元素 正常浏览器清除浮动方法*/
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1; /*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
}

.header {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.header.full-page {
  height: 100vh;
  background: url('/static/img/bg-wall2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header.not-index-bg {
  height: 28rem;
  background: url('/static/img/bg-wall1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header.not-index-bg .scroll-down,
.header.not-index-bg .site-info {
  display: none;
}

.header-affix {
  position: relative;
  font-size: 1.2rem;
  font-weight: 600;
}

.header-affix .ant-affix {
  background-color: #3c585c;
  transition: all 0.6s linear;
}

.header .nav {
  position: absolute;
  top: 0;
  padding: 10px 36px;
  width: 100%;
}

.header .nav-inner {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 18px;
}

.header .nav-logo {
  float: left;
  color: #eee;
  line-height: 46px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
  cursor: pointer;
}

.header .nav-menu {
  float: right;
}

.search-button {
  display: inline;
  vertical-align: middle;
  color: #eee;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.ant-menu-horizontal {
  display: inline-block;
}

.ant-menu {
  background: none;
}

.ant-menu-item,
.ant-menu-submenu {
  color: #eee;
  font-size: 1rem;
  font-weight: 600;
}

.ant-menu-item,
.ant-menu-submenu-title,
.search-button {
  padding: 0 6px;
}

.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon {
  margin-right: 3px;
}

.ant-menu-submenu .ant-menu-item {
  color: #4c4948;
  font-size: 0.9rem;
}

.ant-menu-submenu-arrow {
  position: absolute;
  top: 50%;
  right: 0px;
  width: 0px;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateY(-2px);
}

.ant-menu-submenu-arrow::before {
  position: absolute;
  width: 6px;
  height: 1.5px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.85)), to(rgba(0, 0, 0, 0.85)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
  border-radius: 2px;
  -webkit-transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  content: '';
  transform: rotate(45deg) translateX(2px);
}

.ant-menu-submenu-arrow::after {
  position: absolute;
  width: 6px;
  height: 1.5px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.85)), to(rgba(0, 0, 0, 0.85)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
  border-radius: 2px;
  -webkit-transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  content: '';
  transform: rotate(-45deg) translateX(-2px);
}

.ant-menu-submenu .ant-menu-item-active {
  color: #3eaf7c;
}

.ant-menu-submenu-title:hover {
  background-color: #fff;
  color: #3eaf7c;
}

.ant-menu-horizontal > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-submenu {
  border-bottom: none;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  border-bottom: none;
  color: #3eaf7c;
}

.ant-menu-horizontal {
  border-bottom: none;
}

.ant-menu-submenu > .ant-menu {
  background: none;
}

.ant-menu-submenu > .ant-menu-submenu-active {
  color: #3eaf7c;
}

.popup-item {
  background-color: rgba(255, 255, 255, 0.8);
}

.popup-item .ant-menu {
  min-width: 0;
}

.popup-item .ant-menu-item {
  padding: 0 8px;
  height: 25px;
  line-height: 25px;
}

.site-info {
  position: absolute;
  top: 41%;
  width: 100%;
  padding: 0 10px;
}

@keyframes titlescale {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -o-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.site-title,
.site-subtitle {
  color: #eee;
  text-align: center;
  line-height: 1.5;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
  animation: titlescale 1s;
}

.site-title {
  font-size: 1.3rem;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .site-title {
    font-size: 2rem;
    margin-bottom: 0;
  }
}

.site-subtitle {
  font-size: 0.8rem;
  margin: 0.3rem 0;
}

@media screen and (min-width: 768px) {
  .site-subtitle {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}

.site-social-icons {
  display: none;
  width: 15rem;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .site-social-icons {
    display: block;
  }
}
.social-icon {
  margin: 0 0.5rem;
  font-size: 1.5rem;
  color: #eee;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.social-icon .anticon-github {
  color: #333;
}

.social-icon .anticon-wechat {
  color: #73c051;
}

.social-icon .anticon-alipay {
  color: #4890f7;
}

.scroll-down {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.scroll-down .anticon-down {
  font-size: 30px;
  font-weight: bold;
  color: #eee;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
  line-height: 1.5;
}

.scroll-down-effects {
  position: relative;
  width: 100%;
  animation: scroll-down-effect 1.5s infinite;
}

@keyframes scroll-down-effect {
  0% {
    top: 0;
    opacity: 0.4;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=40)';
    filter: alpha(opacity=40);
  }
  50% {
    top: -16px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    top: 0;
    opacity: 0.4;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=40)';
    filter: alpha(opacity=40);
  }
}

.ant-anchor-wrapper {
  overflow: visible;
  background: none;
}

.ant-anchor-ink::before {
  display: none;
}

.ant-anchor-link-title {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
