/** @format */

.tag-container {
  padding: 0 24px 10px;
}

.tag-container .ant-tag {
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 20px;
  line-height: 22px;
}

.tag-container .ant-tag .anticon{
    font-size: 18px;
}
