/** @format */

#bg-wall {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url('/static/img/bg-wall2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
